/dist/
/build/
/Trabalho\ 1/build/
/Trabalho\ 1/nbproject/private/
/Trabalho\ 2/EnterpriseMultiplayer/nbproject/private/
/Trabalho\ 2/EnterpriseMultiplayer/nbproject/private/private.xml
/Trabalho\ 2/EnterpriseMultiplayer/build/
/Trabalho 2/EnterpriseMultiplayer/dist/